.feedback {
  text-align: center;
  background-color: #bdc3c7;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  min-width: 600px;
  margin: 20px;
  transition: box-shadow 0.3s ease;

  border: 1px solid 0 0 25px rgba(44, 62, 80, 0.2); /* Darker Gray */
}

.title {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 20px;
}
